In [1]:
import pandas as pd
import numpy as np
import os as os
from IPython.display import display

### Load data

In [3]:
dfs_train = {}
dfs_test = {}

In [4]:
for root, directory, files in os.walk("data/train_preprocessed", topdown=False):
    if files:
        for file in files:
            dfs_train[file[:-4]] = pd.read_csv(f"{root}/{file}")
for root, directory, files in os.walk("data/test_preprocessed", topdown=False):
    if files:
        for file in files:
            dfs_test[file[:-4]] = pd.read_csv(f"{root}/{file}")

In [6]:
def impute_nan_values(dfs):
    for df in dfs.values():
        for col in df.columns:
            if df[col].dtype == np.float64 or df[col].dtype == np.int64:
                df[col] = df.groupby("season")[col].transform(lambda x: x.fillna(x.mean()))

impute_nan_values(dfs_train)
impute_nan_values(dfs_test)

In [7]:
# show all rows with at least one nan value 
for df in dfs_train.values():
    # display(df["Avg_bookie_prediction"].isna().sum()/df.shape[0]*100)
    display(df[df["LastMatchHomeGoals"].isna()][["MatchTeams", "LastMatchHomeGoals", "LastMatchAwayGoals"]])

Empty DataFrame
Columns: [MatchTeams, LastMatchHomeGoals, LastMatchAwayGoals]
Index: []

Empty DataFrame
Columns: [MatchTeams, LastMatchHomeGoals, LastMatchAwayGoals]
Index: []

Empty DataFrame
Columns: [MatchTeams, LastMatchHomeGoals, LastMatchAwayGoals]
Index: []

Empty DataFrame
Columns: [MatchTeams, LastMatchHomeGoals, LastMatchAwayGoals]
Index: []

Empty DataFrame
Columns: [MatchTeams, LastMatchHomeGoals, LastMatchAwayGoals]
Index: []

Empty DataFrame
Columns: [MatchTeams, LastMatchHomeGoals, LastMatchAwayGoals]
Index: []

Empty DataFrame
Columns: [MatchTeams, LastMatchHomeGoals, LastMatchAwayGoals]
Index: []

Empty DataFrame
Columns: [MatchTeams, LastMatchHomeGoals, LastMatchAwayGoals]
Index: []

Empty DataFrame
Columns: [MatchTeams, LastMatchHomeGoals, LastMatchAwayGoals]
Index: []

Empty DataFrame
Columns: [MatchTeams, LastMatchHomeGoals, LastMatchAwayGoals]
Index: []

Empty DataFrame
Columns: [MatchTeams, LastMatchHomeGoals, LastMatchAwayGoals]
Index: []